// --- Section Skills ---

section.section.section--skills

  //- p.section__lead.section--skills__lead Portfolio and Skills

  .section--skills__panels
  
    label(for='html5').section--skills__panels__panel.section--skills__panels__panel--html
      i.ion-social-html5-outline
      span.label HTML5

    label(for='css3').section--skills__panels__panel.section--skills__panels__panel--css
      i.ion-social-css3-outline
      span.label CSS3
      
    label(for='sass').section--skills__panels__panel.section--skills__panels__panel--sass
      i.ion-social-sass
      span.label SASS

    label(for='javascript').section--skills__panels__panel.section--skills__panels__panel--js
      i.ion-social-javascript
      span.label JavaSript

    //- label(for='nodejs').section--skills__panels__panel.section--skills__panels__panel--nodejs
    //-   i.ion-social-nodejs
    //-   span.label NodeJS

    label(for='angularjs').section--skills__panels__panel.section--skills__panels__panel--angular
      i.ion-social-angular-outline
      span.label Angular

    label(for='ionic').section--skills__panels__panel.section--skills__panels__panel--ionic
      i.ion-ionic
      span.label Ionic

    //- label(for='python').section--skills__panels__panel.section--skills__panels__panel--python
    //-   i.ion-social-python
    //-   span.label Python
    //- 
    //- label(for='markdown').section--skills__panels__panel.section--skills__panels__panel--markdown
    //-   i.ion-social-markdown
    //-   span.label Markdown

  -
    var projects = {
      'Trader 101': {
        'id': '08db1744643be9bbf18964b162641d7e',
        'device': 'mobile',
        'desciption': 'Innovative trading app.',
        'skills': 'html5 css3 sass javascript angularjs ionic'
      },
      'CTA Landing Page': {
        'id': 'EyVRzQ',
        //desktop
        'device': 'mobile',
        'desciption': 'Intuitively persuasive.',
        //- 'desciption': 'This landing page provides immersive experience and is highly persuasive. It is just impossible to NOT register if once you entered the website.',
        'skills': 'html5 css3 sass javascript'
      },
      'Keep on Coding': {
        'id': 'pbgbjR',
        // Desktop
        'device': 'mobile',
        'desciption': 'The CodePerners motto.',
        //- 'desciption': 'Keep On Coding a motivational motto for fellow codepeners.',
        'skills': 'html5 css3 sass javascript'
      },
      'Glacier Expedition': {
        'id': 'JKGRWo',
        // Desktop
        'device': 'mobile',
        'desciption': 'Adventure of your lifetime.',
        //- 'desciption': 'Totally professional responsive and modernly designed landing page for a company that specialise in providing adventure trips to glacier.',
        'skills': 'html5 css3 sass'
      },
      'Pie Charts': {
        'id': 'VjVpRZ',
        'device': 'mobile',
        'desciption': 'Cool and animated.',
        'skills': 'html5 css3 sass javascript'
      },
      'AI Path Finding': {
        'id': 'rrkPXA',
        //tablet
        'device': 'mobile',
        'desciption': 'Optimal path finding with genetic algorithm!',
        'skills': 'html5 css3 sass javascript'
      },
      'News Feed': {
        'id': 'PGJPmm',
        'device': 'mobile',
        'desciption': 'All news sources in one place.',
        'skills': 'html5 css3 sass javascript angularjs'
      },
      'Scrooge': {
        'id': '6ea2d80268f135d57fd74e4c27ae5d0d',
        'device': 'mobile',
        'desciption': 'Clicky app available on iOS and android.',
        'skills': 'html5 css3 sass javascript angularjs ionic'
      }
    };
  -
    var heights = {
      'mobile': 667,
      'tablet': 1024,
      'desktop': 768
    };
    
  .section--skills__projects
  
    input(type='radio', name='skill', value='html5', id='html5')
    input(type='radio', name='skill', value='css3', id='css3')
    input(type='radio', name='skill', value='sass', id='sass')
    input(type='radio', name='skill', value='javascript', id='javascript')
    input(type='radio', name='skill', value='nodejs', id='nodejs')
    input(type='radio', name='skill', value='angularjs', id='angularjs', checked)
    input(type='radio', name='skill', value='ionic', id='ionic')
    input(type='radio', name='skill', value='python', id='python')
    input(type='radio', name='skill', value='markdown', id='markdown')
  
    .section--skills__projects__skill
      each project, title in projects
        .section--skills__projects__skill__project(class=`${project.skills} wrapper--${project.device}-width`)
          h3.section--skills__projects__skill__project__title= title
          p.section--skills__projects__skill__project__desciption= project.desciption
          .wrapper(class=`wrapper--${project.device}`)
            .device(class=`device--${project.device}`)
            
              amp-iframe.section--skills__projects__skill__project__iframe(sandbox='allow-scripts allow-same-origin', height=`${heights[project.device]}`, src=`https://codepen.io/MaciejCaputa/embed/${project.id}/?height=${heights[project.device]}&theme-id=26236&default-tab=result&embed-version=2`, scrolling='no', frameborder='0', allowtransparency, allowfullscreen)
              
              
